body {
  background-color: #f3f3f3;
  h1 {
    color: #e9d9d9;
    font-size: 90px;
    font-weight: normal;
  }
  .box-todo {
    margin: 20px auto;
    background-color: #fff;
    max-width: 428px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    ul {
      padding: 0;
      list-style-type: none;
      text-align: left;
      color: #7b7b7b;
      li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        .delete-item {
          cursor: pointer;
          color: #cecece;
        }
      }
    }
    .input-box {
      position: relative;
      border-bottom: 1px solid #eee;
      input {
        width: 100%;
        border: none;
        height: 60px;
        padding: 10px 10px 10px 40px;
        color: #7b7b7b;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #cecece;
          font-style: italic;
        }
        
      }
      &:before {
        content: " \2C5";
        position: absolute;
        font-size: 35px;
        left: 10px;
        top: 16px;
        color: #cecece;
      }
    }
    .box-footer {
      padding: 10px;
      text-align: center;
      span {
        font-size: 12px;
        color: #a5a5a5;
        float: left;
        padding-top: 5px;
      }
      a {
        font-size: 12px;
        color: #a5a5a5;
        text-align: right;
        float: right;
        padding-top: 5px;
      }
      button {
        background-color: #fff;
        border: none;
        font-size: 13px;
        color: #5f5f5f;
        &:disabled {
          border: 1px solid #ffd760;
          border-radius: 5px;
        }
      }
    }
  }
}